<h2>For Angular 7 Progressive Web App startup: </h2>

<pre>
<ol>
  <li>
    sudo npm install -g @angular/cli
  </li>
  <li>
    ng new appName --routing
  </li>
  <li>
    ng add @angular/pwa
  </li>
  <li>
    echo '/robots.txt /robots.txt 200
    /sitemap.xml /sitemap.xml 200
    /* /index.html 200' > ./src/_redirects
  </li>

  <li>
    mcedit ./angular.json => "options": "outputPath": "dist" <br>
    "assets": [
    "src/_redirects",
    "src/sitemap.xml",
    "src/robots.txt",
  </li>
  <li>
    git remote add origin https://github.com/animhotep/angular-pwa.git<br>
    git push -u origin master
  </li>
  <li>
    https://my.freenom.com/clientarea.php?action=domains<br>
    dns1.p06.nsone.net dns2-4
  </li>
  <li>
    deploy on https://www.netlify.com/<br>
    Build command: ng build --prod<br>
    Publish directory: dist
  </li>
</ol>
</pre>
