<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h2>For Angular 7 Progressive Web App startup: </h2>
<pre>
  0)https://my.freenom.com/clientarea.php?action=domains
  DNS1.P01.NSONE.NET
  DNS2-4

  1) ng new appName --routing

  2) ng add @angular/pwa

  3)"assets": [
  "src/_redirects",
  "src/sitemap.xml",
  "src/robots.txt",

  4)"options":
  "outputPath": "dist",

  5)"build": "ng build --prod",

  6)git remote add origin https://github.com/animhotep/angular-pwa.git
    git push -u origin master

  7) deploy on https://www.netlify.com/
  npm run build
  dist
  add domain

</pre>
<router-outlet></router-outlet>
