<div class="body">
  <div class="txt-center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <ul class="menu">
    <li><a routerLink="/about" routerLinkActive="active">About PWA</a></li>
    <li><a routerLink="/how-to" routerLinkActive="active">How to bootstrap App</a></li>
    <li><a routerLink="/how-it-works" routerLinkActive="active">How does this magic works</a></li>
    <li><a routerLink="/advantages" routerLinkActive="active">Advantages of the Angular 7 PWA App</a></li>
  </ul>

  <router-outlet></router-outlet>
</div>
